@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700&display=swap");

$colors: (
  primary: #0b173d,
  secondary: #0008ff,
  txt: #000,
  txt-hover: #a3b6c8,
  blanco: #00f7ff,
  accent: #ffd23d,
  shade-1: #0006b3,
  shade-2: #000599,
  tint-1: #3339ff,
  tint-2: #4d52ff,
);

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  color: map-get($colors, txt);
  text-decoration: none;
}

/* img {
  width: 100%;
} */

#fondo {
  clip-path: polygon(100% 0, 100% 38%, 100% 100%, 50% 100%, 74% 0);
  background-color: map-get($colors, primary);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.nav__container {
  background-color: map-get($colors, primary);
  a {
    color: map-get($colors, blanco);
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;

  .logo {
    font-weight: bold;
  }

  ul {
    display: flex;
    a {
      color: map-get($colors, txt);
      display: block;
      padding: 0 1em;
    }
  }
}

.redes,
.logo_hero {
  display: none;
}

/*  .switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
    margin-left: $margin;
    margin-top: 20px;
  }

  .switch input {
    display: none;
  }

  .slider {
    background-color: map-get($colors, tint-1);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
  }

  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
  }

  input:checked + .slider {
    background-color: map-get($colors, shade-2);
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  #idioma {
    height: auto;
    border: solid black 1px;
    color: #000;
    padding: $padding;
    margin-left: 50px;
    margin-top: $margin;
  } */

#principal {
  height: 100vh;
  /*   margin-top: 100px;
 */

  #container_formas {
    display: none;
    float: right;
    margin-right: 2%;
    margin-top: 12%;
    height: 350px;
    width: 350px;
  }
  .clase_forma {
    width: 125px;
    height: 125px;
    color: map-get($colors, primary);
  }

  #tri_1 {
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    background-color: map-get($colors, tint-1);
  }
  #tri_2 {
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
    background-color: map-get($colors, shade-1);
    margin-left: 50px;
    margin-top: -50px;
  }
  #tri_3 {
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    background-color: map-get($colors, tint-2);
    margin-top: -50px;
  }
  #tri_4 {
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
    background-color: map-get($colors, shade-2);
    margin-left: 50px;
    margin-top: -50px;
  }
}

.container {
  border: black solid 1px;
  background-color: skyblue;
  height: 100vh;
}

#trabajos {
  background-color: #fff;
  height: 100vh;
}
