@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

*:hover {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: "Nunito Sans", sans-serif;
  background-color: #fafafa;
  /*   overflow-x: hidden;
 */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

#fondo {
  -webkit-clip-path: polygon(100% 0, 100% 38%, 100% 100%, 50% 100%, 80% 0);
          clip-path: polygon(100% 0, 100% 38%, 100% 100%, 50% 100%, 80% 0);
  background-color: #0b173d;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.nav__container .redes a {
  color: #fafafa;
  padding: 0.1em 0.5em;
  font-size: 1.5rem;
}

.nav__container .redes a:hover {
  background-color: #fafafa;
  color: #091231;
  border-radius: 4px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2em;
  font-size: 1rem;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header a {
  text-align: center;
}

header .logo {
  font-weight: bold;
  color: black;
  font-size: 1.5rem;
}

header .botonera ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .botonera ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5em 1em;
}

header .botonera ul a:hover {
  background-color: #0b173d;
  color: #fff;
  border-radius: 4px;
}

.redes,
.logo_hero,
#fondo {
  display: none;
}

.logo_hero {
  width: 13rem;
}

.principal {
  height: 100vh;
}

.principal .container__h1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.principal .container__h1 img {
  width: 25rem;
}

.principal .container__h1 h1 {
  font-size: 2em;
  line-height: 1;
}

#proyectos {
  height: 100vh;
}

#proyectos img {
  width: auto;
}

#proyectos .fondo__proyectos {
  -webkit-clip-path: polygon(65% 0, 100% 0, 100% 100%, 65% 100%);
          clip-path: polygon(65% 0, 100% 0, 100% 100%, 65% 100%);
  background-color: #3c5f63;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

#proyectos .container__titulo {
  position: relative;
  z-index: 1;
  text-align: center;
}

#proyectos .container__titulo .titulo {
  margin-top: 2rem;
  width: 22rem;
}

#proyectos .container__proyectos {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

#proyectos .container__proyectos .container__txt {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: justify;
  line-height: 1.2;
  padding: 1rem;
  margin-right: 6rem;
}

#proyectos .container__proyectos .container__txt .titulo__proyecto {
  margin: 1rem 0 0;
  color: #0008ff;
  text-transform: uppercase;
}

#proyectos .container__proyectos .container__txt .nombre__web {
  position: relative;
  z-index: 1;
  font-weight: bold;
}

#proyectos .container__proyectos .container__txt p {
  position: relative;
  z-index: 1;
}

#proyectos .container__proyectos .container__img {
  position: relative;
  width: 400px;
  display: block;
  z-index: 1;
  min-height: 2rem;
}

#proyectos .container__proyectos .container__img .img__proyectos {
  width: 15rem;
  margin: 2.5rem 0 0 0;
  border-radius: 3px;
  -webkit-box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
          box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}

#herramientas .fondo__herramientas {
  -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
          clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  background-color: #200b3c;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

#herramientas .container__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#herramientas .container__titulo .titulo {
  width: 20em;
  padding-top: 3rem;
}

#herramientas .container__herramientas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#herramientas .container__herramientas .card__herramientas {
  position: relative;
  z-index: 1;
  width: 18rem;
  height: 28rem;
  margin-top: 7rem;
  background-color: #fafafa;
  border-radius: 6px;
  padding: 1rem;
  text-align: justify;
  white-space: pre-line;
  -webkit-box-shadow: 0 7px 30px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 7px 30px -10px rgba(0, 0, 0, 0.5);
}

#herramientas .container__herramientas .card__herramientas .container__iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0.5rem;
  font-size: 3rem;
  color: #200b3c;
}

#herramientas .container__herramientas .card__herramientas h3 {
  margin-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

#contacto {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contacto .container__titulo .titulo {
  width: 20rem;
  padding: 2rem;
}

#contacto .card {
  width: 30rem;
  text-align: center;
  background: #ffffff;
  border-radius: 1em;
  -webkit-box-shadow: 0 7px 30px -10px rgba(99, 115, 122, 0.5);
          box-shadow: 0 7px 30px -10px rgba(99, 115, 122, 0.5);
}

#contacto .card__media img {
  position: relative;
  top: -60px;
  left: 60px;
  border-radius: 50%;
  max-width: 125px;
  opacity: 1;
  -webkit-box-shadow: 3px 3px 10px #161313;
          box-shadow: 3px 3px 10px #161313;
  border: 2px solid white;
  z-index: 1;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

#contacto .card__content {
  padding: 2rem;
}

#contacto .card h2 {
  margin-top: -2rem;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 1.1;
}

#contacto .card h2 small {
  display: block;
  font-size: 15px;
  margin-top: 5px;
}

#contacto .card p {
  margin-top: 15px;
  text-align: center;
}

#contacto .card p .plan {
  color: #0008ff;
  background-color: #fff;
}

#contacto .button {
  display: inline-block;
  background: #3c4564;
  color: #fff;
  padding: 0.5rem 1rem;
  letter-spacing: 0.03ch;
  text-transform: uppercase;
  border-radius: 0.5em;
  margin-top: 1em;
}

#contacto a:hover {
  background-color: #635a3b;
}

@media only screen and (min-width: 320px) and (max-width: 799px) {
  #fondo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__container header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__container header .botonera {
    width: 10rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  .principal .container__h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 800px) {
  #fondo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 78% auto;
        grid-template-columns: 78% auto;
  }
  .nav__container .redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2em 2em 0 1em;
  }
  .nav__container .redes ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__container .botonera a {
    color: black;
  }
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .principal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .principal .logo_hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10rem 2rem;
  }
  .principal .container__h1 {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10rem 2rem 0;
  }
  .principal .container__h1 .container__titulo img {
    width: 30rem;
  }
  .principal .container__h1 .container__titulo h1 {
    font-size: 2.5em;
  }
}

@media only screen and (min-width: 1050px) {
  #fondo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 76% auto;
        grid-template-columns: 76% auto;
    background: unset;
  }
  .nav__container .botonera a {
    color: black;
  }
  .redes {
    padding: 2em 4em 2em 1em;
    margin-left: 6rem;
  }
  .redes ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .principal {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .principal .logo_hero {
    margin: 10rem 4rem;
  }
  .principal .container__h1 {
    margin: 10rem 6rem;
  }
  .principal .container__h1 .container__titulo img {
    width: 40rem;
  }
  .principal .container__mobile {
    display: none;
  }
  .principal h1 {
    font-size: 4em;
  }
}

@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 1em 2em 2em;
  }
  header a {
    margin-left: 2.5rem;
  }
  .redes {
    padding: 2em 6em 2em 4em;
    margin-left: 12rem;
  }
  .principal .logo_hero {
    margin: 12rem 2rem;
  }
  .principal .container__h1 {
    margin: 12rem 4rem;
  }
  .principal .container__h1 .container__titulo img {
    width: 50rem;
  }
}
/*# sourceMappingURL=main.css.map */