$colors: (
        primary: #0008FF,
        secondary:  #0006cc,
        white-text: whitesmoke
    );

body, html {
    height: 100%;
}

body {
    
    font-family: 'Montserrat', sans-serif;    
    margin: 0;

    #fondo {
            clip-path: polygon(50% 0%, 75% 0, 59% 100%, 0 100%, 0 0);
            background-color: map-get($colors,primary );
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
    }
}

header {
        width: 1188px;
        display: flex;
        flex-direction: row;
        background-color: map-get($colors, secondary );
        color: map-get($colors, white-text );
        
        h1{
            margin-left: 5px;
        }    

       
        #botonera { 
            width: 320px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-weight: bold;
    
                ul {
                    list-style-type: none;
                }
                
                li {
                    display: inline-flex;
                    margin-left: 25px;
                    margin-top: 5px;
                }
                a {
                    padding: auto;
                }
                a:hover {
                    background-color: map-get($colors, primary);
                }
            }   
}

#principal{
        display: flex;
    

    #tri_1 {
    clip-path: polygon(0 0, 0 100%, 100% 46%);
    background-color: orange;

    }
}
 








