@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

/* img {
  width: 100%;
} */
#fondo {
  -webkit-clip-path: polygon(100% 0, 100% 38%, 100% 100%, 50% 100%, 80% 0);
          clip-path: polygon(100% 0, 100% 38%, 100% 100%, 50% 100%, 80% 0);
  background-color: #0b173d;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.nav__container .redes a {
  color: #00f7ff;
  padding: 0 0.5em;
}

.nav__container .redes a:hover {
  background-color: #0a1537;
  -webkit-filter: invert(1);
          filter: invert(1);
  border-radius: 0.5em;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
}

header .logo {
  font-weight: bold;
  text-align: justify;
  color: black;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul a {
  color: black;
  display: block;
  padding: 0 1.25em;
}

header ul a:hover {
  background-color: #a3b6c8;
  border-radius: 3px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.redes,
.logo_hero,
#fondo {
  display: none;
}

.principal {
  height: 100vh;
  /*   margin-top: 100px;
 */
  /* .clase_forma {
    width: 100px;
    height: 100px;
  }
  .marco {
    position: relative;
    z-index: -1;
    width: 200px;
    height: 350px;
    clip-path: polygon(
      0% 0%,
      0 100%,
      3% 100%,
      3% 3%,
      97% 3%,
      97% 97%,
      0 97%,
      0 100%,
      100% 100%,
      100% 0
    );

    background-color: map-get($colors, accent);
  }

  #tri_1 {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: map-get($colors, accent);
  }
  #tri_2 {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: map-get($colors, accent);
    margin-left: 100px;
    margin-top: -50px;
  }
  #tri_3 {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: map-get($colors, accent);
    margin-top: -50px;
  }
  #tri_4 {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: map-get($colors, accent);
    margin-left: 100px;
    margin-top: -50px;
  } */
}

.principal h1 {
  font-size: 4em;
  padding: 0em 0.4em;
}

.container {
  border: black solid 1px;
  background-color: skyblue;
  height: 100vh;
}

#trabajos {
  background-color: #fff;
  height: 100vh;
}

@media only screen and (min-width: 1050px) {
  #fondo {
    display: block;
  }
  .nav__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
  }
  .nav__container .botonera a {
    color: black;
  }
  header {
    padding: 2em 2em 2em 4em;
  }
  .redes {
    padding: 2em 4em 2em 0;
  }
  .redes {
    display: block;
    float: right;
  }
  .redes ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 7em;
    float: right;
  }
  .principal {
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    word-wrap: normal;
  }
  .principal h1 {
    float: left;
    font-size: 4em;
    padding: 0.4em 0.4em;
  }
  .principal .logo_hero {
    display: block;
    float: right;
    margin-right: 2%;
    height: 350px;
    width: 350px;
  }
}

@media only screen and (min-width: 1250) {
  header {
    padding: 2em 2em 2em 10em;
  }
  .redes {
    padding: 2em 10em 2em 0;
  }
}

@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 0.5em 2em 2em;
  }
  .redes {
    padding: 2em 6em 2em 0;
  }
}
/*# sourceMappingURL=main.css.map */