@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700&display=swap");

$colors: (
  primario: #0b173d,
  secundario: #0008ff,
  txt__dark: #000,
  txt__hover: #9da2b1,
  background__1: #0b373c,
  blanco: #00f7ff,
  accent: #9dff00,
  accent__2: #ffd23d,
  shade__1: #091231,
  shade__2: #0a1537,
  tinte__1: #232e50,
  tint__2: #3c4564,
);

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  color: map-get($colors, txt__dark);
  text-decoration: none;
}

/* img {
  width: 100%;
} */

#fondo {
  clip-path: polygon(100% 0, 100% 38%, 100% 100%, 50% 100%, 80% 0);
  background-color: map-get($colors, primario);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.nav__container {
  .redes {
    a {
      color: map-get($colors, blanco);
      padding: 0 0.5em;
    }
    a:hover {
      background-color: map-get($colors, shade__2);
      filter: invert(1);
      border-radius: 0.5em;
    }
  }
}
header {
  display: flex;
  justify-content: space-between;
  padding: 2em;

  .logo {
    font-weight: bold;
    text-align: justify;
    color: black;
  }

  ul {
    display: flex;

    a {
      color: black;
      display: block;
      padding: 0 1.25em;
    }

    a:hover {
      background-color: map-get($colors, txt__hover);
      border-radius: 3px;
      transition: all ease-in-out 0.5s;
    }
  }
}

.redes,
.logo_hero,
#fondo {
  display: none;
}

.principal {
  height: 100vh;
  /*   margin-top: 100px;
 */
  h1 {
    font-size: 4em;
    padding: 0em 0.4em;
  }

  /* .clase_forma {
    width: 100px;
    height: 100px;
  }
  .marco {
    position: relative;
    z-index: -1;
    width: 200px;
    height: 350px;
    clip-path: polygon(
      0% 0%,
      0 100%,
      3% 100%,
      3% 3%,
      97% 3%,
      97% 97%,
      0 97%,
      0 100%,
      100% 100%,
      100% 0
    );

    background-color: map-get($colors, accent);
  }

  #tri_1 {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: map-get($colors, accent);
  }
  #tri_2 {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: map-get($colors, accent);
    margin-left: 100px;
    margin-top: -50px;
  }
  #tri_3 {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: map-get($colors, accent);
    margin-top: -50px;
  }
  #tri_4 {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: map-get($colors, accent);
    margin-left: 100px;
    margin-top: -50px;
  } */
}

#proyectos {
  background-color: #fff;
  height: 100vh;
}

.fondo__proyectos {
  clip-path: polygon(5% 0, 30% 0, 30% 100%, 5% 100%);
  background-color: map-get($colors, tint__2);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.container__proyectos {
  .titulo {
    position: relative;
    z-index: 1;
  }
  .container__txt {
    float: right;
  }
}

.fondo__herramientas {
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  background-color: map-get($colors, background__1);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.container__herramientas {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
}

#contacto {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    width: 100%;
    text-align: center;
    background: #ffffff;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 0 20px;
  }

  .card__content {
    padding: 1.5rem;
  }

  .card h2 {
    margin-top: 3em;
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 1.1;
  }

  .card h2 small {
    display: block;
    font-size: 15px;
    margin-top: 10px;
  }

  .card p {
    text-align: justify;
  }

  .card__media img {
    position: absolute;
    border-radius: 50%;
    left: 50%;
    max-width: 100px;
    opacity: 1;
    box-shadow: 3px 3px 20px black;
    border: 2px solid whitesmoke;
    z-index: 1;
    transform: translate(-50%, 0);
  }

  .button {
    display: inline-block;
    background: #8cfbde;
    color: #000000;
    padding: 0.5rem 1rem;
    font: inherit;
    font-weight: 900;
    text-decoration: none;
    letter-spacing: 0.03ch;
    text-transform: uppercase;
    border-radius: 0.8em;
  }

  /* .container__card {
    display: flex;
    border: solid 1px black;
    align-content: center;
    width: 30rem;
    height: 30rem;

    /* .foto__contacto {
        ;
      }

      .txt__contacto {
        
      }
    }*/
}

//////////////////////////// BREAKPOINT  ////////////////////////////
@media only screen and (min-width: 1050px) {
  #fondo {
    display: block;
  }

  .nav__container {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
    .botonera a {
      color: black;
    }
  }

  header {
    padding: 2em 2em 2em 4em;
  }
  .redes {
    padding: 2em 4em 2em 0;
  }

  .redes {
    display: block;
    float: right;

    ul {
      display: flex;
      justify-content: space-between;
      width: 7em;
      float: right;
    }
  }

  .principal {
    height: 90vh;
    display: flex;
    justify-content: space-between;
    place-items: center;
    word-wrap: normal;

    h1 {
      font-size: 4em;
    }

    .logo_hero {
      display: block;
    }
  }
} // ********* fin media 1150px **********

////////////////////////////  BREAKPOINT  ////////////////////////////

@media only screen and (min-width: 1250) {
  header {
    padding: 2em 2em 2em 10em;
  }
  .redes {
    padding: 2em 10em 2em 0;
  }
}
// **********fin media 1250px *******
//////////////////////////// BREAKPOINT  ////////////////////////////

@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 0.5em 2em 2em;
  }
  .redes {
    padding: 2em 6em 2em 0;
  }
} // **********fin media 1550px *******
