@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

*:hover {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: 'Nunito Sans', sans-serif;
  background-color: #fafafa;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

#fondo {
  -webkit-clip-path: polygon(100% 0, 100% 38%, 100% 100%, 50% 100%, 80% 0);
          clip-path: polygon(100% 0, 100% 38%, 100% 100%, 50% 100%, 80% 0);
  background-color: #0b173d;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.nav__container {
  display: -ms-grid;
  display: grid;
}

.nav__container .redes a {
  color: #fafafa;
  padding: 0.1em 0.5em;
  font-size: 1.5rem;
}

.nav__container .redes a:hover {
  background-color: #fafafa;
  color: #091231;
  border-radius: 4px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2em;
  font-size: 1rem;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header a {
  text-align: center;
}

header .logo {
  font-weight: bold;
  color: black;
  font-size: 1.5rem;
}

header .botonera {
  margin-top: 1rem;
}

header .botonera ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .botonera ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5em 1em;
}

header .botonera ul a:hover {
  background-color: #0b173d;
  color: #fff;
  border-radius: 4px;
}

.redes,
.logo_hero,
#fondo {
  display: none;
}

.principal {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
}

.principal .logo_hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 5rem;
  margin: 3rem 0 3rem;
}

.principal .container__h1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.principal .container__h1 img {
  max-width: 100%;
  height: auto;
}

.principal .container__h1 h1 {
  line-height: 1;
  text-align: center;
}

.principal .container__h1 h1 p {
  font-size: 1em;
  letter-spacing: 0.03em;
}

#proyectos {
  width: 100%;
  height: auto;
  /* img {
    max-width: 100%;
    max-height: 100%;
  }
 */
}

#proyectos .fondo__proyectos {
  -webkit-clip-path: polygon(35% 50%, 0 0, 0 100%);
          clip-path: polygon(35% 50%, 0 0, 0 100%);
  background-color: #3c5f63;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

#proyectos .container__titulo {
  position: relative;
  z-index: 1;
  text-align: center;
}

#proyectos .container__titulo .titulo {
  margin-top: 2rem;
  width: 15rem;
  /*  background: #fafafa;
      box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
      border-radius: 6px;
      padding: 0.5rem; 
       */
}

#proyectos .container__proyectos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#proyectos .container__proyectos .container__txt {
  width: 15rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: justify;
  line-height: 1.4;
  padding: 1rem;
  margin: 1rem;
  background: #fafafa;
  -webkit-box-shadow: 0 7px 30px -10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 7px 30px -10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

#proyectos .container__proyectos .container__txt .titulo__proyecto {
  color: #2f1057;
  text-transform: uppercase;
}

#proyectos .container__proyectos .container__txt .nombre__web {
  position: relative;
  z-index: 1;
  font-weight: bold;
}

#proyectos .container__proyectos .container__txt p {
  width: 100%;
}

#proyectos .container__proyectos .container__img {
  height: auto;
}

#proyectos .container__proyectos .container__img :hover {
  -webkit-transform: scale(1.25) !important;
          transform: scale(1.25) !important;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#proyectos .container__proyectos .img__proyectos {
  width: 15rem;
  height: 8rem;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 7px 30px -10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 7px 30px -10px rgba(0, 0, 0, 0.2);
  -o-object-fit: cover;
     object-fit: cover;
}

#herramientas {
  width: 100%;
  height: auto;
}

#herramientas img {
  max-width: 100%;
  height: auto;
}

#herramientas .fondo__herramientas {
  -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
          clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  background-color: #200b3c;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
}

#herramientas .container__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#herramientas .container__titulo .titulo {
  padding: 1rem;
  margin-top: 1rem;
  width: 20rem;
}

#herramientas .container__herramientas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#herramientas .container__herramientas .card__herramientas {
  position: relative;
  z-index: 1;
  width: 80%;
  height: 28rem;
  margin-top: 7rem;
  background-color: #fafafa;
  border-radius: 6px;
  padding: 1rem;
  text-align: justify;
  white-space: pre-line;
  -webkit-box-shadow: 0 7px 30px -10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 7px 30px -10px rgba(0, 0, 0, 0.3);
}

#herramientas .container__herramientas .card__herramientas .container__iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0.5rem;
  font-size: 3rem;
  color: #200b3c;
}

#herramientas .container__herramientas .card__herramientas .container__iconos img {
  width: 3rem;
  vertical-align: bottom;
  margin-bottom: 0.7rem;
}

#herramientas .container__herramientas .card__herramientas h3 {
  margin-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

#contacto {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

#contacto .container__titulo img {
  text-align: center;
  max-width: 100%;
  height: auto;
  padding: 5rem 0;
}

#contacto .container__titulo .titulo {
  /* background: #ffffff;
      box-shadow: 0 7px 30px -10px rgba(0, 0, 0, 0.2);
      border-radius: 6px; */
  padding: 0.5rem;
  margin: 3rem 0 5rem;
  width: 20rem;
}

#contacto .card {
  width: 100%;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  text-align: center;
  background: #ffffff;
  border-radius: 1em;
  -webkit-box-shadow: 0 7px 30px -10px rgba(9, 11, 12, 0.5);
          box-shadow: 0 7px 30px -10px rgba(9, 11, 12, 0.5);
}

#contacto .card__media img {
  max-width: 100%;
  height: auto;
  position: relative;
  top: -60px;
  left: 60px;
  border-radius: 50%;
  max-width: 125px;
  opacity: 1;
  -webkit-box-shadow: 3px 3px 10px #161313;
          box-shadow: 3px 3px 10px #161313;
  border: 2px solid white;
  z-index: 1;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

#contacto .card__content {
  padding: 0 1rem 1.5rem;
}

#contacto .card h2 {
  margin-top: -2rem;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 1.1;
}

#contacto .card h2 small {
  display: block;
  font-size: 0.6em;
  margin-top: 1rem;
}

#contacto .card p {
  margin-top: 1rem;
  line-height: 1.6;
}

#contacto .card p .plan {
  color: #0008ff;
  background-color: #fff;
}

#contacto .button {
  display: inline-block;
  background: #3c4564;
  color: #fff;
  padding: 0.5rem 1rem;
  letter-spacing: 0.03ch;
  text-transform: uppercase;
  border-radius: 0.5em;
  margin-top: 1em;
}

#contacto a:hover {
  background-color: #0b173d;
}

#contacto blockquote {
  display: block;
  margin-top: 1rem;
}

@media only screen and (max-width: 499px) {
  /*   #fondo,
 
  .fondo__proyectos,*/
  .fondo__herramientas {
    display: none !important;
  }
}

@media only screen and (min-width: 320px) and (max-width: 799px) {
  #fondo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
  }
  .nav__container header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 1.3;
  }
  .nav__container header .botonera {
    width: 10rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
  }
  .principal {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  .principal .logo_hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
    width: 8rem;
    margin: 3rem 0 3rem;
  }
  .principal .container__h1 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .principal .container__h1 .container__titulo {
    height: 8rem;
    -webkit-box-shadow: 0 7px 30px -10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 7px 30px -10px rgba(0, 0, 0, 0.3);
    background: #fafafa;
    border-radius: 6px;
    padding: 1rem 1rem 0;
  }
  .principal .container__h1 .container__titulo img {
    width: 25rem;
  }
  .principal .container__h1 .container__titulo h1 {
    text-align: center;
  }
  .principal .container__h1 .container__titulo h1 p {
    font-size: 1em;
    margin-left: 0.3rem;
  }
  #proyectos {
    height: auto;
    margin-bottom: 5rem;
  }
  #proyectos .fondo__proyectos {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
  #proyectos .container__proyectos .container__titulo .titulo {
    width: 17rem;
  }
  #herramientas {
    /* .fondo__herramientas {
      height: 100vh;
    } */
  }
  #herramientas .container__herramientas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #herramientas .container__herramientas .card__herramientas {
    width: 12rem;
    height: auto;
  }
  #contacto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  #contacto .container__titulo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contacto .card {
    max-width: 30rem;
  }
}

@media only screen and (min-width: 800px) {
  #fondo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 78% auto;
        grid-template-columns: 78% auto;
  }
  .nav__container .redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2em 2em 0 3em;
  }
  .nav__container .redes ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__container .botonera {
    margin-top: 0;
  }
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .principal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /*     align-items: start;
 */
  }
  .principal .logo_hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 12rem;
    margin: 10rem 2rem;
  }
  .principal .container__h1 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10rem 0;
  }
  .principal .container__h1 .container__titulo img {
    width: 30rem;
  }
  .principal .container__h1 .container__titulo h1 {
    /*  box-shadow: 0 7px 30px -10px rgba(0, 0, 0, 0.3);
          background: #fafafa;
          border-radius: 6px;
          padding: 1rem 1rem 0; */
    line-height: 1.1;
    font-size: 2.2em;
    text-align: left;
    margin-left: 1rem;
  }
  .principal .container__h1 .container__titulo h1 p {
    margin-left: 0.3rem;
  }
  #proyectos {
    height: auto;
    /* .fondo__proyectos {
      height: 100%;
    } */
  }
  #proyectos .container__titulo .titulo {
    width: 15rem;
  }
  #proyectos .container__proyectos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #proyectos .container__proyectos .container__txt {
    width: 50%;
  }
  #proyectos .container__proyectos .container__txt p {
    background: none;
  }
  #herramientas {
    height: 100%;
    /*  .fondo__herramientas {
      height: 100vh;
    } */
  }
  #herramientas .container__herramientas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #herramientas .container__herramientas .card__herramientas {
    width: 12rem;
  }
  #contacto {
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  #contacto .container__titulo img {
    text-align: center;
  }
  #contacto .card {
    width: 30rem;
  }
}

/* @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* ///////////////////// iPad Pro 12.9" ////////// */
/* Portrait and Landscape */
/* @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  #proyectos {
    .fondo__proyectos {
      max-height: 80vh;
    }
  }
  #herramientas {
    .fondo__herramientas {
      max-height: 50vh;
    }
  }
} /*----------- FIN  iPad Pro 12.9" ----------- */
@media only screen and (min-width: 1050px) {
  #fondo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 76% auto;
        grid-template-columns: 76% auto;
    background: unset;
  }
  .nav__container .botonera a {
    color: black;
  }
  .redes {
    padding: 2em 4em 2em 1em;
    margin-left: 2.5rem;
  }
  .redes ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .principal {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .principal .logo_hero {
    margin: 10rem 4rem;
  }
  .principal .container__h1 {
    width: 64%;
    margin: 10rem 0;
  }
  .principal .container__h1 .container__titulo img {
    width: 43rem;
  }
  .principal .container__h1 .container__titulo h1 {
    font-size: 2.5em;
    line-height: 1.3;
  }
  #proyectos .container__proyectos {
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #herramientas .container__herramientas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #herramientas .container__herramientas .card__herramientas {
    width: 15rem;
  }
  #contacto {
    height: 100vh;
  }
}

@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 1em 2em 1em;
  }
  header a {
    margin-left: 0.5rem;
  }
  .redes {
    padding: 2em 6em 2em 4em;
    margin-left: 6.5rem;
  }
  .principal .logo_hero {
    margin: 12rem 2rem;
  }
  .principal .container__h1 {
    width: 60%;
    margin: 12rem 0;
  }
  .principal .container__h1 .container__titulo img {
    width: 45rem;
  }
  .principal .container__h1 .container__titulo h1 {
    font-size: 2.5em;
  }
  .principal .container__h1 .container__titulo h1 p {
    line-height: 1;
    text-align: left;
  }
  #proyectos {
    height: 100vh;
    /*  display: flex;
    justify-content: space-between;
    flex-flow: column-reverse; */
  }
  #proyectos .container__titulo {
    margin-right: 5rem;
  }
  #proyectos .container__titulo .titulo {
    width: 20rem;
  }
  #proyectos .container__proyectos .container__txt {
    width: 50%;
  }
  #herramientas .fondo__herramientas {
    height: 100%;
  }
  #herramientas .container__herramientas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #herramientas .container__herramientas .card__herramientas {
    width: 15rem;
  }
  #contacto {
    height: 100vh;
  }
}

@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 1em 2em 1em;
  }
  .redes {
    padding: 2em 6em 2em 4em;
    margin-left: 10rem;
  }
  .principal .logo_hero {
    margin: 12rem 3rem;
  }
  .principal .container__h1 {
    width: 52%;
    margin: 12rem 0rem;
  }
  .principal .container__h1 .container__titulo img {
    width: 45rem;
  }
  .principal .container__h1 .container__titulo h1 {
    font-size: 2.5em;
  }
  .principal .container__h1 .container__titulo h1 p {
    line-height: 1.3;
  }
  #proyectos .fondo__proyectos {
    height: 95%;
  }
  #proyectos .container__proyectos {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */